{% extends "project/base.html" %}
{% block title %}Project detail{% endblock %}
{% block content %}
<h1>{{ project.project_name }}</h1>
<div class="card">
    <p><strong>Customer ID:</strong> {{ project.customer }}</p>
    <p><strong>Manager ID:</strong> {{ project.manager }}</p>
    <p><strong>Status:</strong> {{ project.status }}</p>
    <p><strong>Start date:</strong> {{ project.start_date }}</p>
    <p><strong>End date:</strong> {{ project.end_date }}</p>
    <p><strong>Budget:</strong> {{ project.budget }}</p>
</div>
<button style="display:inline-block;
            padding:8px 12px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 20%;">
    <a href="/project/{{ project.id }}/edit" style="color: white">Update</a>
</button>
<a href="/project" style="margin-top: 10px">⬅ Back to list</a>
{% endblock %}
